* {
  margin: 0px;
  padding: 0px;
  font-family: serif;
}

.header_logo {
  font-weight: 800;
}
.header_nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: sticky;
  top: 0;
  background-color: white;
}

.header_nav_list ul a li {
  display: inline;
}

.header_nav_list ul a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  text-transform: capitalize;
  margin-right: 20px;
}

.header-image-container {
  background: url("./images/bg.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.header-text {
  text-align: center;
  padding-top: 200px;
  font-size: 25px;
  letter-spacing: 20px;
}

.intro {
  height: 20vh;
  margin: 60px;
}

.intro h3 {
  text-align: center;
  width: 45%;
  margin: auto;
  font-size: 40px;
}

.hero-section {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}

.hero-contents {
  width: 30%;
  margin: auto;
}
